:root {
    --cor--primaria:#e50914;
    --cor--secundaria:#333;
}
*{
    padding: 0;
    margin: 0;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    background-color: black;
}

/* =======================================HEADER=============================================== */
header{
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5vh 0vw;
}
header>x{
    background-color: var(--cor--primaria);
    color: white;
    padding: 0.5vh 0.8vw;
    font-size: 2vh;
    margin-right: 2vw;
    border-radius: 30px;
    font-weight: bold;
}
header>y{
    color: var(--cor--secundaria);
    font-weight:500;
    font-size: 3vh;
}
header>z{
    font-size: 3vh;
    font-weight: bold;
    color: var(--cor--secundaria);
}
header>a{
    text-decoration: none;
    color: #0071eb;
    font-weight: 600;
    margin-left: 2vw;
    margin-right: 0.5vw;
}
header>img{
    position: relative;
    top:2px
}
/* ======================================================MAIN================================================== */
main{
    background-color: #333;
}
.home{
    width: 100vw;
    background-image:linear-gradient( 180deg,black,transparent,black),url('/Imagens/background.jpg');
    padding-bottom: 30vh;
}
.logocontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logocontainer>img{
    width: 14vw;
    margin-left: 3vw;
}
.user{
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.user>a{
    color: white;
    padding: 1.5vh 1vw;
    background-color: var(--cor--primaria);
    border-radius: 3px;
    margin: 0vh 2vw ;
}
.user>select{
    border: white 1px solid;
    background-color: black;
    color: white;
    padding: 1.5vh 1.5vw;
    border-radius: 3px;
}
.user>select:hover{
    cursor: pointer;
}
.infoBackground{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 12vh;
}
.infoBackground>h1{
font-size: 8vh;
}
.infoBackground>h2{
    margin: 4vh 0vw;
}
.infoBackground>h3{
    margin: 1vh 0vw;
}
.infoBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2vh;
}
.infoBox>input{
    padding: 3vh 0vw;
    padding-right: 22vw;
    padding-left: 1vw;
    text-align: left;
    
}
.infoBox>a{
    background-color: var(--cor--primaria);
    font-size: 4vh;
    font-weight: 500;
    padding: 1.9vh 2vw;
}

/* =====================================primeira div=============================== */
.info1{
    display:flex;
    background-color: black;
    position: relative;
    width:100vw;
    height: 80vh;
    margin-top: 2vh;
}
.info1>h1{
    color:white;
    left:10vw;
    top:6vw;
    position: absolute;
    font-size:50px;
    
    
}
.info1>h2{
    color:white;
    position:absolute;
    left:10vw;
    top:12vw;
    font-weight: 500;
    
}
.info1>img{
  position:absolute;
  right:10vw;
  width:40vw;
  z-index: 1;
}
.info1>video{
    position: absolute;
    right:15.7vw;
    top:6.5vw;
    width:28.8vw;
}

.info2{
    display:flex;
    margin-top: 2vh;
    width:100vw;
    height:80vh;
    background:black;
    justify-content:center;
    align-items:center;
    
}
.info2>div{
    display:flex;
    position:relative;
    height:80vh;
    width:50vw;
    align-items:flex-start;
    justify-content: center;
    flex-direction:column;
    
    
}
.info2>div>h1{
    color:white;
    font-size:7vh;
    margin-bottom:15px;
    
}.info2>div>h2{
    color:white;
    font-size:4vh;
    font-weight: 500;
}
.info2>div>img{
    z-index: 1;
    
}

.info2>div>video{
    position:absolute;
    width:26vw;
    left:11vw;
    top:10vh;
    
}

.info3{
    display:flex;
    width:100vw;
    height:80vh;
    background:black;
    margin-top:2vh;
    
}
.info3>div{
    
    display:flex;
    position:relative;
    height:80vh;
    width:50vw;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    text-align:start;
}
.info3>div>h1,h2{
    color:white;
    margin:1vh;
}
.info3>div>h1{
    font-size:7vh;
    position:absolute;
    top:10vh;
    left:5vw;
}
.info3>div>h2{
    font-weight: 500;
    font-size:4vh;
}
.info3>div>img{
    width:35vw;
}